    nav,
    .Navbar {
        position: fixed;
        top: 0;
        border: none;
        outline: none;
        height: 62px !important;
        z-index: 1;
        background-color: white;
        justify-content: center;
    }
    
    .Navbar a {
        color: black !important;
    }
    
    .Navbar a:hover {
        color: rgb(224, 24, 96) !important;
    }
    
    .home {
        background-color: rgb(224, 24, 96) !important;
    }
    
    a.home {
        color: white !important;
    }
    
    a.home:hover {
        color: white!important;
    }
    
    .brand-logo img {
        width: 35%;
        height: 64px !important;
        /* padding: 5px 0px; */
        object-fit: cover;
    }
    
    .dropdown-content {
        min-width: fit-content !important;
    }
    
    .sidenav {
        width: 200px;
    }
    
    @media only screen and (max-width: 992px) {
        a.brand-logo {
            text-align: center;
        }
        .brand-logo img {
            width: 45%;
            height: 63px !important;
            padding: 2px 0px;
        }
    }