*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  .footer{
    width: 100vh;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
  }
  .inner-footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
  }
  .footer-box{
      display:inline-block;
      margin-left: 40px;   
  
  }
  